<!--layout left-->
<div class="common-left">
  <ul class="topic-list">
    <%= render @topics %>
  </ul>
  <%= will_paginate @topics %>
</div>

<!--layout right-->
<div class="common-right">
  <%= render "discussions" %>
</div>