<tr <% if discussion_counter % 2 == 0 %> class="odd" <% end %> >
  <td><%= discussion.id %></td>
  <td><%= discussion.title %></td>
  <td><%= discussion.name %></td>
  <td><%= discussion.topics_count %></td>
</tr>